<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Comments &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/lib/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/css/common.css">
  <style>
    .main {
      position: relative;
    }

    table {
      margin-top: 20px;
    }

    .page-title {
      margin-top: 20px;
    }

    .page {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  </style>

</head>

<body>

  <div class="main">
    <div class="container-fluid">
      <div class="page-title">
        <h1>所有评论</h1>
      </div>
      <div class="page-action">
        <!-- show when multiple checked -->
        <div class="btn-batch" style="display: none">
          <button class="btn approve btn-info btn-sm" opt="approve">批量批准</button>
          <button class="btn reject btn-warning btn-sm" opt="reject">批量拒绝</button>
          <button class="btn del btn-danger btn-sm" opt="del">批量删除</button>
        </div>
      </div>
      <div class="page">
        <ul id="pagination"></ul>
        <p class="total text-right">总页数:
          <span class="text-right">12</span>
        </p>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" width="40">
              <input id="ckAll" type="checkbox">
            </th>
            <th width="120">留言人</th>
            <th class="text-center" width="150">联系方式</th>
            <th class="text-center">留言内容</th>
            <th class="text-center" width="90">留言于</th>
            <th class="text-center" width="80">状态</th>
            <th class="text-center" width="100">操作</th>
          </tr>
        </thead>
        <tbody id="dataset">
          <!-- <tr class="primary">
            <td class="text-center">
              <input type="checkbox">
            </td>
            <td>大大</td>
            <td class="text-center">楼主好人，顶一个</td>
            <td>《Hello world》今天很高兴，能和领导反馈一个关于xxxx的问题今天很高兴，能和领导反馈一个关于xxxx的问题今天很高兴，能和领导反馈一个关于xxxx的问题今天很高兴，能和领导反馈一今天很高兴，能和领导反馈一个关于xxxx的问题今天很高兴，能和领导反馈一个关于xxxx的问题个关于xxxx的问题</td>
            <td class="text-center">2016/10/07</td>
            <td class="text-center">未批准</td>
            <td class="text-center">
              <a href="post-add.html" class="btn btn-info btn-xs">批准</a>
              <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
            </td>
          </tr>
          <tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <script id="feedbackTemp" , type="text/template">
    {{each data}}
    <tr class="{{if $value.status == 0}}info{{else if $value.status == 1}}success{{else if $value.status == 2 }}danger{{/if}}">
      <td class="text-center">
        <input type="checkbox">
      </td>
      <td>{{$value.name}}</td>
      <td class="text-center">{{$value.phone}}</td>
      <td>{{$value.content}}</td>
      <td class="text-center">{{$value.created}}</td>
      <td class="text-center">{{if $value.status == 0}}没审核{{else if $value.status == 1}}已批准{{else if $value.status == 2 }}已拒绝{{/if}}</td>
      <td data-index={{$value.id}} class="text-center">
        <a href="javascript:;" class="btn btn-info btn-xs approve">批准</a>
        <a href="javascript:;" class="btn btn-danger btn-xs reject">拒绝</a>
      </td>
    </tr>
    {{/each}}
  </script>
  <script src="../assets/lib/jquery/jquery.js"></script>
  <script src="../assets/js/common.js"></script>
  <script src="../assets/lib/bootstrap-paginator/bootstrap-paginator.js"></script>
  <script src="../assets/lib/jquery/template-web.js"></script>
  <script src="../assets/lib/layer/layer.js"></script>
  <script src="../assets/lib/bootstrap/js/bootstrap.js"></script>
  <script src="../assets/lib/jquery/jquery.cookie.js"></script>
  <script src="../assets/js/comments.js"></script>
</body>

</html>