/*
 * @Author: Jack Lu 
 * @Date: 2018-04-09 13:20:54 
 * @Last Modified by: Jack Lu
 * @Last Modified time: 2018-04-21 01:38:27
 */
.hs_main .news .title {
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
.hs_main .news .title .more {
  margin-top: 30px;
}
.hs_main .news .news_left {
  padding-right: 50px;
}
.hs_main .news .news_left .news_swiper .swiper-slide {
  height: 500px;
  overflow: hidden;
  padding: 20px 40px 0px 6px;
}
.hs_main .news .news_left .news_swiper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  padding-bottom: 50px;
}
.hs_main .news .news_left .news_swiper .swiper-slide a img {
  width: 100%;
  height: 100%;
  display: block;
}
.hs_main .news .news_left .news_swiper .swiper-slide a p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #004098;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hs_main .news .news_left .swiper-pagination {
  z-index: 999;
  color: #fff;
  bottom: 3px !important;
  right: 3px !important;
}
.hs_main .news .news_left .news_list {
  margin-top: 30px;
}
.hs_main .news .news_left .news_list a {
  display: block;
}
.hs_main .news .news_left .news_list a p {
  width: 80%;
  font-size: 16px;
  margin: 0;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hs_main .news .news_left .news_list a span {
  font-size: 12px;
}
.hs_main .news .news_right video {
  width: 100%;
}
.hs_main .news .news_right a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
